# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Ignore tensorboard
runs/

#Ignore Checkpoints
checkpoints/

#Ignore model
flan-t5-small-trained/
cuda_dev_test.py
yc2_captions/test_masked.csv
yc2_captions/train_masked.csv
yc2_captions/val_masked.csv
labels.pkl
preds.pkl
gpt_prompts/
tester.py
prompt.txt

flan-t5-small-trained-2/config.json
flan-t5-small-trained-2/generation_config.json
flan-t5-small-trained-2/pytorch_model.bin
models/models--bigscience--T0_3B/.no_exist/8794c7177e3a67b8a0ec739d94eecfa6a591c974/added_tokens.json
models/models--bigscience--T0_3B/.no_exist/8794c7177e3a67b8a0ec739d94eecfa6a591c974/generation_config.json
models/models--bigscience--T0_3B/.no_exist/8794c7177e3a67b8a0ec739d94eecfa6a591c974/tokenizer.json
models/models--bigscience--T0_3B/blobs/5cfdc30b641bf2fc36e97e18b0bfc56b9812370b
models/models--bigscience--T0_3B/blobs/881bdbffc06e471924ecea57f962bc5f8e2a9f21
models/models--bigscience--T0_3B/blobs/b4f755a1a41fd8569591096804d207a1d58f1e893b9175d4fa8d626fb5cec036
models/models--bigscience--T0_3B/blobs/d60acb128cf7b7f2536e8f38a5b18a05535c9e14c7a355904270e15b0945ea86
models/models--bigscience--T0_3B/blobs/b114c318caf72f6e89ea92e0755c41327a453198
models/models--bigscience--T0_3B/refs/main
models/models--bigscience--T0_3B/snapshots/8794c7177e3a67b8a0ec739d94eecfa6a591c974/config.json
models/models--bigscience--T0_3B/snapshots/8794c7177e3a67b8a0ec739d94eecfa6a591c974/pytorch_model.bin
models/models--bigscience--T0_3B/snapshots/8794c7177e3a67b8a0ec739d94eecfa6a591c974/special_tokens_map.json
models/models--bigscience--T0_3B/snapshots/8794c7177e3a67b8a0ec739d94eecfa6a591c974/spiece.model
models/models--bigscience--T0_3B/snapshots/8794c7177e3a67b8a0ec739d94eecfa6a591c974/tokenizer_config.json

SwinBERT/
Videos/
._.DS_Store
.DS_Store
apex1.out
Models/flan-t5-small-trained-2/pytorch_model.bin
Models/flan-t5-small-trained-2/generation_config.json
Models/flan-t5-small-trained-2/config.json
vid_split.csv
output5.txt
output3.out
output2.out
output.out
